.--theme-dark {
  --toife-color-background: #141919;
  --toife-color-background-rgb: 20, 25, 25;
  --toife-color-surface: #212828;
  --toife-color-surface-rgb: 33, 40, 40;

  --toife-color-separate: #2d3737;
  --toife-color-separate-rgb: 45, 55, 55;

  --toife-color-backdrop: #121212;
  --toife-color-backdrop-rgb: 18, 18, 18;
  --toife-color-backdrop-surface: #5e5e5e;
  --toife-color-backdrop-surface-rgb: 94, 94, 94;

  --toife-color-text: #e9ecef; 
  --toife-color-text-rgb: 233, 236, 239;
  --toife-color-text-dark: #b6b6b6;
  --toife-color-text-dark-rgb: 182, 182, 182;
  --toife-color-text-light: #ffffff;
  --toife-color-text-light-rgb: 255, 255, 255;
}
