.--theme-dark {
  --t-color-background: #141919;
  --t-color-background-rgb: 20, 25, 25;

  --t-color-surface: #212828;
  --t-color-surface-rgb: 33, 40, 40;

  --t-color-border: #454545;
  --t-color-border-rgb: 69, 69, 69;

  --t-color-backdrop: #121212;
  --t-color-backdrop-rgb: 18, 18, 18;

  --t-color-text: #e9ecef; 
  --t-color-text-rgb: 233, 236, 239;
  --t-color-text-dark: #b6b6b6;
  --t-color-text-dark-rgb: 182, 182, 182;
  --t-color-text-light: #ffffff;
  --t-color-text-light-rgb: 255, 255, 255;
}
