.--theme-light {
  --t-color-background: #f8f8f8;
  --t-color-background-rgb: 248, 248, 248;

  --t-color-surface: #ffffff;
  --t-color-surface-rgb: 255, 255, 255;

  --t-color-border: #f7f7f7;
  --t-color-border-rgb: 240, 240, 240;

  --t-color-backdrop: #212529;
  --t-color-backdrop-rgb: 33, 37, 41;

  --t-color-text: #212529;
  --t-color-text-rgb: 33, 37, 41;
  --t-color-text-dark: #b6b6b6; /* gần trắng */
  --t-color-text-dark-rgb: 248, 249, 250;
  --t-color-text-light: #0d0d0d; /* đen đậm */
  --t-color-text-light-rgb: 13, 13, 13;
}
