.--theme-light {
  --toife-color-background: #ededed;
  --toife-color-background-rgb: 237, 237, 237;
  --toife-color-surface: #ffffff;
  --toife-color-surface-rgb: 255, 255, 255;

  --toife-color-separate: #eaeaea;
  --toife-color-separate-rgb: 234, 234, 234;

  --toife-color-backdrop: #212529;
  --toife-color-backdrop-rgb: 33, 37, 41;
  --toife-color-backdrop-surface: #ffffff;
  --toife-color-backdrop-surface-rgb: 255, 255, 255;

  --toife-color-text: #212529;
  --toife-color-text-rgb: 33, 37, 41;
  --toife-color-text-dark: #838383; /* gần trắng */
  --toife-color-text-dark-rgb: 131, 131, 131;
  --toife-color-text-light: #0d0d0d; /* đen đậm */
  --toife-color-text-light-rgb: 13, 13, 13;
}
