.toife-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  line-height: 0;
  color: var(--color);
  background: var(--background);
  border: var(--border);
  white-space: nowrap;

  >* {
    z-index: 2;
  }

  // Case when button is not disbble
  // And have props active background, then trigger action, focus to change background
  &:not(:disabled) {

    &.active-background:active,
    &.active-background:focus {
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(var(--toife-color-backdrop-rgb), 0.1);
      }
    }
  }

  // Case buton disable
  &:disabled {
    opacity: 0.5;
  }

  // Case have rounded props
  &.rounded {
    border-radius: 8px;
  }

  // Case is block, then display full width
  &.block {
    width: 100%;
  }

  /// ---------------
  /// SIZE
  /// ---------------
  // Case size is small
  &.size-small {
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
    height: 31px;
  }

  // Case size is standard
  &.size-standard {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    height: 42px;
  }

  // Case 
  &.size-large {
    padding: 1rem 1.1rem;
    font-size: 1.2rem;
    height: 50px;
  }

  // Style for loading icon
  .loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // Style for content of button
  .toife-button-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

