.toife-tabs {
  height: fit-content;
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: auto;

  >* {
    z-index: 1;
  }

  &::after {
    z-index: 0;
  }

  // Placement
  &.top-start,
  &.bottom-start,
  &.left-start,
  &.right-start {
    justify-content: flex-start;
  }

  &.top-end,
  &.bottom-end,
  &.left-end,
  &.right-end {
    justify-content: flex-end;
  }

  &.top-center,
  &.bottom-center,
  &.left-center,
  &.right-center {
    justify-content: center;
  }

  // Direction
  &.top-start,
  &.top-center,
  &.top-end,
  &.bottom-start,
  &.bottom-center,
  &.bottom-end {
    flex-direction: row;
    column-gap: 1rem;
  }

  &.left-start,
  &.left-center,
  &.left-end,
  &.right-start,
  &.right-center,
  &.right-end {
    flex-direction: column;
    row-gap: 1rem;
  }

  // Variant
  &.variant-border-under {
    &::after {
      content: '';
      display: block;
      position: absolute;
      transition: transform 0.2s ease;
      background-color: var(--background);
    }

    // Horizontal
    &.top-start,
    &.top-center,
    &.top-end,
    &.bottom-start,
    &.bottom-center,
    &.bottom-end {
      &::after {
        width: var(--border);
        height: 2.5px;
        transform: translateX(var(--transform));
      }
    }

    &.top-start,
    &.top-center,
    &.top-end {
      &::after {
        bottom: 0;
        left: 0;
      }
    }

    &.bottom-start,
    &.bottom-center,
    &.bottom-end {
      &::after {
        top: 0;
        left: 0;
      }
    }

    // Vertical
    &.left-start,
    &.left-center,
    &.left-end,
    &.right-start,
    &.right-center,
    &.right-end {
      &::after {
        height: var(--border);
        width: 2.5px;
        transform: translateY(var(--transform));
      }
    }

    &.left-start,
    &.left-center,
    &.left-end {
      &::after {
        top: 0;
        right: 0;
      }
    }

    &.right-start,
    &.right-center,
    &.right-end {
      &::after {
        top: 0;
        left: 0;
      }
    }
  }

  &.variant-tag {
    &::after {
      content: '';
      display: block;
      width: var(--width);
      height: var(--height);
      top: var(--top);
      left: var(--left);
      transition: transform 0.2s ease;
      position: absolute;
      background-color: var(--background);
      border-radius: var(--radius);
    }

    // Horizontal
    &.top-start,
    &.top-center,
    &.top-end,
    &.bottom-start,
    &.bottom-center,
    &.bottom-end {
      &::after {
        transform: translateX(var(--transform));
      }
    }

    // Vertical
    &.left-start,
    &.left-center,
    &.left-end,
    &.right-start,
    &.right-center,
    &.right-end {
      &::after {
        transform: translateY(var(--transform));
      }
    }
  }
}

