:root {
  // Size
  --toife-size-0: 0rem;
  --toife-size-1: 0.5rem;
  --toife-size-2: 1rem;
  --toife-size-3: 1.5rem;
  --toife-size-4: 2rem;
  --toife-size-5: 2.5rem;
  --toife-size-6: 3rem;
  --toife-size-7: 3.5rem;
  --toife-size-8: 4rem;
  --toife-size-9: 4.5rem;
  --toife-size-10: 5rem;

  // Size
  --toife-fs-05: 0.5rem;
  --toife-fs-06: 0.6rem;
  --toife-fs-07: 0.7rem;
  --toife-fs-08: 0.8rem;
  --toife-fs-09: 0.9rem;
  --toife-fs-10: 1.0rem;
  --toife-fs-11: 1.1rem;
  --toife-fs-12: 1.2rem;
  --toife-fs-13: 1.3rem;
  --toife-fs-14: 1.4rem;
  --toife-fs-15: 1.5rem;
  --toife-fs-16: 1.6rem;
  --toife-fs-17: 1.7rem;
  --toife-fs-18: 1.8rem;
  --toife-fs-19: 1.9rem;
  --toife-fs-20: 2.0rem;

  // ENV
  --toife-safe-area-top: env(safe-area-inset-top, 0px);
  --toife-safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --toife-safe-area-left: env(safe-area-inset-left, 0px);
  --toife-safe-area-right: env(safe-area-inset-right, 0px);

  --toife-app-height: 100dvh;
  --toife-app-width: 100dvw;
  --toife-app-max-height: 100dvh;
  --toife-app-max-width: 100dvw;
  --toife-overlay-max-width: 400px;
}