.toife-switch {
  height: 31px;
  width: 50px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease;

  .toife-switch-icon {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    transition: all 0.2s ease;
    position: absolute;
    top: 3px;
  }

  &:not(.on) {
    background-color: var(--toife-color-separate);

    .toife-switch-icon {
      left: 3px;
      background: var(--toife-color-text-dark);
    }
  }

  &.on {
    background: var(--background);

    .toife-switch-icon {
      right: 3px;
      background: var(--color);
    }
  }
}

