* {
  padding: 0;
  margin: 0;
}

body, html {
  font-family: 'Inter', sans-serif;
  background-color: var(--toife-color-background, #ffffff);
  color: var(--toife-color-text, #000000);
  font-size: 16px;
  line-height: 21px;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

html, body, * {
  border: unset;
  box-sizing: border-box;
  touch-action: pan-x pan-y;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-touch-callout: none !important;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  // -webkit-user-drag: none !important;
  // touch-action: none !important;

  // Scrollbar
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar { /* Chrome, Safari */
    display: none;
  }

  &:active, &:focus {
    outline: 0;
    border: unset;
  }
}

a{
  color: var(--toife-color-status-primary);
}