.toife-toolbar {
  background-color: var(--t-color-surface);

  >div {
    align-items: center;
    display: flex;
    position: relative;

    >* {
      flex: 1;
    }
  }

  &.bottom,
  &.top {
    >div {
      flex-direction: row;
      height: var(--t-size-toolbar);
      max-height: var(--t-size-toolbar);
      width: 100%;

      >* {
        height: 100%;
      }
    }
  }

  &.left,
  &.right {
    >div {
      flex-direction: column;
      width: var(--t-size-toolbar);
      max-width: var(--t-size-toolbar);
      height: 100%;

      >* {
        width: 100%;
      }
    }
  }

  &.safe {
    &.right {
      padding-right: var(--t-safe-area-right);
    }

    &.left {
      padding-left: var(--t-safe-area-left);
    }

    &.bottom {
      padding-bottom: var(--t-safe-area-bottom);
    }

    &.top {
      padding-top: var(--t-safe-area-top);
    }
  }
}

