.toife-app {
  height: var(--toife-app-height);
  width: var(--toife-app-width);
  max-height: var(--toife-app-max-height);
  max-width: var(--toife-app-max-width);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: var(--toife-color-background);
}

