:root{
  --toife-color-status-danger-text: #ffffff;
  --toife-color-status-danger-text-rgb: 255,255,255;
  --toife-color-status-danger-light: #ef5350;
  --toife-color-status-danger-light-rgb: 239, 83, 80;
  --toife-color-status-danger: #e53935;
  --toife-color-status-danger-rgb: 229, 57, 53;
  --toife-color-status-danger-dark: #c62828;
  --toife-color-status-danger-dark-rgb: 198, 40, 40;
}