:root{
  /* danger / Danger */
  --t-color-danger-1: #ffebee;
  --t-color-danger-1-rgb: 255, 235, 238;
  --t-color-danger-2: #ffcdd2;
  --t-color-danger-2-rgb: 255, 205, 210;
  --t-color-danger-3: #ef9a9a;
  --t-color-danger-3-rgb: 239, 154, 154;
  --t-color-danger-4: #e57373;
  --t-color-danger-4-rgb: 229, 115, 115;
  --t-color-danger-5: #ef5350;
  --t-color-danger-5-rgb: 239, 83, 80;
  --t-color-danger-6: #f44336;
  --t-color-danger-6-rgb: 244, 67, 54;
  --t-color-danger-7: #e53935;
  --t-color-danger-7-rgb: 229, 57, 53;
  --t-color-danger-8: #d32f2f;
  --t-color-danger-8-rgb: 211, 47, 47;
  --t-color-danger-9: #c62828;
  --t-color-danger-9-rgb: 198, 40, 40;
  --t-color-danger-10: #b71c1c;
  --t-color-danger-10-rgb: 183, 28, 28;
  --t-color-danger-11: #7f0f0f;
  --t-color-danger-11-rgb: 127, 15, 15;
  --t-color-danger-12: #3f0707;
  --t-color-danger-12-rgb: 63, 7, 7;
}