:root{
  --toife-color-status-info-text: #ffffff;
  --toife-color-status-info-text-rgb: 255,255,255;
  --toife-color-status-info-light: #29b6f6;
  --toife-color-status-info-light-rgb: 41, 182, 246;
  --toife-color-status-info: #039be5;
  --toife-color-status-info-rgb: 3, 155, 229;
  --toife-color-status-info-dark: #0277bd;
  --toife-color-status-info-dark-rgb: 2, 119, 189;
}