:root{
  /* Info */
  --t-color-info-1: #e1f5fe;
  --t-color-info-1-rgb: 225, 245, 254;
  --t-color-info-2: #b3e5fc;
  --t-color-info-2-rgb: 179, 229, 252;
  --t-color-info-3: #81d4fa;
  --t-color-info-3-rgb: 129, 212, 250;
  --t-color-info-4: #4fc3f7;
  --t-color-info-4-rgb: 79, 195, 247;
  --t-color-info-5: #29b6f6;
  --t-color-info-5-rgb: 41, 182, 246;
  --t-color-info-6: #03a9f4;
  --t-color-info-6-rgb: 3, 169, 244;
  --t-color-info-7: #039be5;
  --t-color-info-7-rgb: 3, 155, 229;
  --t-color-info-8: #0288d1;
  --t-color-info-8-rgb: 2, 136, 209;
  --t-color-info-9: #0277bd;
  --t-color-info-9-rgb: 2, 119, 189;
  --t-color-info-10: #01579b;
  --t-color-info-10-rgb: 1, 87, 155;
  --t-color-info-11: #013f6b;
  --t-color-info-11-rgb: 1, 63, 107;
  --t-color-info-12: #001f35;
  --t-color-info-12-rgb: 0, 31, 53;
}