:root{
  --toife-color-status-primary-text: #ffffff;
  --toife-color-status-primary-text-rgb: 255,255,255;
  --toife-color-status-primary-light: #42a5f5;
  --toife-color-status-primary-light-rgb: 66, 165, 245;
  --toife-color-status-primary: #1e88e5;
  --toife-color-status-primary-rgb: 30, 136, 229;
  --toife-color-status-primary-dark: #1565c0;
  --toife-color-status-primary-dark-rgb: 21, 101, 192;
}