:root{
  /* Primary */
  --t-color-primary-1: #e3f2fd;
  --t-color-primary-1-rgb: 227, 242, 253;
  --t-color-primary-2: #bbdefb;
  --t-color-primary-2-rgb: 187, 222, 251;
  --t-color-primary-3: #90caf9;
  --t-color-primary-3-rgb: 144, 202, 249;
  --t-color-primary-4: #64b5f6;
  --t-color-primary-4-rgb: 100, 181, 246;
  --t-color-primary-5: #42a5f5;
  --t-color-primary-5-rgb: 66, 165, 245;
  --t-color-primary-6: #2196f3;
  --t-color-primary-6-rgb: 33, 150, 243;
  --t-color-primary-7: #1e88e5;
  --t-color-primary-7-rgb: 30, 136, 229;
  --t-color-primary-8: #1976d2;
  --t-color-primary-8-rgb: 25, 118, 210;
  --t-color-primary-9: #1565c0;
  --t-color-primary-9-rgb: 21, 101, 192;
  --t-color-primary-10: #0d47a1;
  --t-color-primary-10-rgb: 13, 71, 161;
  --t-color-primary-11: #08306b;
  --t-color-primary-11-rgb: 8, 48, 107;
  --t-color-primary-12: #041b35;
  --t-color-primary-12-rgb: 4, 27, 53;
}