:root {
  --toife-color-status-secondary-text: #ffffff;
  --toife-color-status-secondary-text-rgb: 255,255,255;
  --toife-color-status-secondary-light: #adb5bd;
  --toife-color-status-secondary-light-rgb: 173, 181, 189;
  --toife-color-status-secondary: #5a6268;
  --toife-color-status-secondary-rgb: 90, 98, 104;
  --toife-color-status-secondary-dark: #343a40;
  --toife-color-status-secondary-dark-rgb: 52, 58, 64;
}
