:root {
  /* Secondary - Bootstrap Inspired Gray Scale */
  --t-color-secondary-1: #f8f9fa;
  --t-color-secondary-1-rgb: 248, 249, 250;
  --t-color-secondary-2: #e9ecef;
  --t-color-secondary-2-rgb: 233, 236, 239;
  --t-color-secondary-3: #dee2e6;
  --t-color-secondary-3-rgb: 222, 226, 230;
  --t-color-secondary-4: #ced4da;
  --t-color-secondary-4-rgb: 206, 212, 218;
  --t-color-secondary-5: #adb5bd;
  --t-color-secondary-5-rgb: 173, 181, 189;
  --t-color-secondary-6: #6c757d; /* Bootstrap secondary */
  --t-color-secondary-6-rgb: 108, 117, 125;
  --t-color-secondary-7: #5a6268;
  --t-color-secondary-7-rgb: 90, 98, 104;
  --t-color-secondary-8: #495057;
  --t-color-secondary-8-rgb: 73, 80, 87;
  --t-color-secondary-9: #343a40;
  --t-color-secondary-9-rgb: 52, 58, 64;
  --t-color-secondary-10: #212529;
  --t-color-secondary-10-rgb: 33, 37, 41;
  --t-color-secondary-11: #16181b;
  --t-color-secondary-11-rgb: 22, 24, 27;
  --t-color-secondary-12: #0b0c0e;
  --t-color-secondary-12-rgb: 11, 12, 14;
}
