:root{
  --toife-color-status-success-text: #ffffff;
  --toife-color-status-success-text-rgb: 255,255,255;
  --toife-color-status-success-light: #66bb6a;
  --toife-color-status-success-light-rgb: 102, 187, 106;
  --toife-color-status-success: #43a047;
  --toife-color-status-success-rgb: 67, 160, 71;
  --toife-color-status-success-dark: #2e7d32;
  --toife-color-status-success-dark-rgb: 46, 125, 50;
}