:root{
  --t-color-status-success-light: #66bb6a;
  --t-color-status-success-light-rgb: 102, 187, 106;
  --t-color-status-success: #43a047;
  --t-color-status-success-rgb: 67, 160, 71;
  --t-color-status-success-dark: #2e7d32;
  --t-color-status-success-dark-rgb: 46, 125, 50;
}