:root{
  /* Success */
  --t-color-success-1: #e6f4ea;
  --t-color-success-1-rgb: 230, 244, 234;
  --t-color-success-2: #c8e6c9;
  --t-color-success-2-rgb: 200, 230, 201;
  --t-color-success-3: #a5d6a7;
  --t-color-success-3-rgb: 165, 214, 167;
  --t-color-success-4: #81c784;
  --t-color-success-4-rgb: 129, 199, 132;
  --t-color-success-5: #66bb6a;
  --t-color-success-5-rgb: 102, 187, 106;
  --t-color-success-6: #4caf50;
  --t-color-success-6-rgb: 76, 175, 80;
  --t-color-success-7: #43a047;
  --t-color-success-7-rgb: 67, 160, 71;
  --t-color-success-8: #388e3c;
  --t-color-success-8-rgb: 56, 142, 60;
  --t-color-success-9: #2e7d32;
  --t-color-success-9-rgb: 46, 125, 50;
  --t-color-success-10: #1b5e20;
  --t-color-success-10-rgb: 27, 94, 32;
  --t-color-success-11: #104010;
  --t-color-success-11-rgb: 16, 64, 16;
  --t-color-success-12: #082008;
  --t-color-success-12-rgb: 8, 32, 8;
}