:root{
  /* Warning */
  --t-color-warning-1: #fff8e1;
  --t-color-warning-1-rgb: 255, 248, 225;
  --t-color-warning-2: #ffecb3;
  --t-color-warning-2-rgb: 255, 236, 179;
  --t-color-warning-3: #ffe082;
  --t-color-warning-3-rgb: 255, 224, 130;
  --t-color-warning-4: #ffd54f;
  --t-color-warning-4-rgb: 255, 213, 79;
  --t-color-warning-5: #ffca28;
  --t-color-warning-5-rgb: 255, 202, 40;
  --t-color-warning-6: #ffc107;
  --t-color-warning-6-rgb: 255, 193, 7;
  --t-color-warning-7: #ffb300;
  --t-color-warning-7-rgb: 255, 179, 0;
  --t-color-warning-8: #ffa000;
  --t-color-warning-8-rgb: 255, 160, 0;
  --t-color-warning-9: #ff8f00;
  --t-color-warning-9-rgb: 255, 143, 0;
  --t-color-warning-10: #ff6f00;
  --t-color-warning-10-rgb: 255, 111, 0;
  --t-color-warning-11: #b26b00;
  --t-color-warning-11-rgb: 178, 107, 0;
  --t-color-warning-12: #633500;
  --t-color-warning-12-rgb: 99, 53, 0;
}