:root{
  --toife-color-status-warning-text: #141919;
  --toife-color-status-warning-text-rgb: 43, 43, 43;
  --toife-color-status-warning-light: #ffca28;
  --toife-color-status-warning-light-rgb: 255, 202, 40;
  --toife-color-status-warning: #ffb300;
  --toife-color-status-warning-rgb: 255, 179, 0;
  --toife-color-status-warning-dark: #ff8f00;
  --toife-color-status-warning-dark-rgb: 255, 143, 0;
}