$types: primary secondary success warning danger info;

.bg-none{
  background-color: transparent !important;
}

.border-none{
  border: none !important;
}

@each $type in $types {
  .bg-#{$type}   { background-color: var(--t-color-#{$type}) !important; }
  .bg-#{$type}-light   { background-color: var(--t-color-#{$type}-light) !important; }
  .bg-#{$type}-dark   { background-color: var(--t-color-#{$type}-dark) !important; }

  .border-#{$type}   { border-color: var(--t-color-#{$type}) !important; }
  .border-#{$type}-light   { border-color: var(--t-color-#{$type}-light) !important; }
  .border-#{$type}-dark   { border-color: var(--t-color-#{$type}-dark) !important; }

  .color-#{$type}   { color: var(--t-color-#{$type}) !important; }
  .color-#{$type}-light   { color: var(--t-color-#{$type}-light) !important; }
  .color-#{$type}-dark   { color: var(--t-color-#{$type}-dark) !important; }
}