$types: primary secondary success warning danger info;

.bg-none {
  background-color: transparent !important;
}

.bg-background {
  background-color: var(--toife-color-background) !important;
}

.bg-surface {
  background-color: var(--toife-color-surface) !important;
}

.border-none {
  border: none !important;
}

.border-separate {
  border-color: var(--toife-color-separate) !important;
}

@each $type in $types {
  .bg-#{$type} {
    background-color: var(--toife-color-status-#{$type}) !important;
  }

  .bg-#{$type}-light {
    background-color: var(--toife-color-status-#{$type}-light) !important;
  }

  .bg-#{$type}-dark {
    background-color: var(--toife-color-status-#{$type}-dark) !important;
  }

  .border-#{$type} {
    border-color: var(--toife-color-status-#{$type}) !important;
  }

  .border-#{$type}-light {
    border-color: var(--toife-color-status-#{$type}-light) !important;
  }

  .border-#{$type}-dark {
    border-color: var(--toife-color-status-#{$type}-dark) !important;
  }

  .color-#{$type} {
    color: var(--toife-color-status-#{$type}) !important;
  }

  .color-#{$type}-light {
    color: var(--toife-color-status-#{$type}-light) !important;
  }

  .color-#{$type}-dark {
    color: var(--toife-color-status-#{$type}-dark) !important;
  }

  .color-#{$type}-text {
    color: var(--toife-color-status-#{$type}-text) !important;
  }
}

.color-text {
  color: var(--toife-color-text);
}

.color-text-dark {
  color: var(--toife-color-text-dark);
}

.color-text-light {
  color: var(--toife-color-text-light);
}