// Height
.hs-100 {height: 100vh!important;}
.hs-75 {height: 75vh!important;}
.hs-50 {height: 50vh!important;}
.hs-25 {height: 25vh!important;}

.ha-100 {height: var(--t-app-height);}
.ha-75 {height: calc(var(--t-app-height) / 100 * 75);}
.ha-50 {height: calc(var(--t-app-height) / 100 * 50);}
.ha-25 {height: calc(var(--t-app-height) / 100 * 25);}

.ha-max-100 {max-height: var(--t-app-max-height);}
.ha-max-75 {max-height: calc(var(--t-app-max-height) / 100 * 75);}
.ha-max-50 {max-height: calc(var(--t-app-max-height) / 100 * 50);}
.ha-max-25 {max-height: calc(var(--t-app-max-height) / 100 * 25);}

.hp-100 {height: 100%!important;}
.hp-75 {height: 75%!important;}
.hp-50 {height: 50%!important;}
.hp-25 {height: 25%!important;}

// width
.ws-100 {width: 100vw!important;}
.ws-75 {width: 75vw!important;}
.ws-50 {width: 50vw!important;}
.ws-25 {width: 25vw!important;}

.wa-100 {width: var(--t-app-width);}
.wa-75 {width: calc(var(--t-app-width) / 100 * 75);}
.wa-50 {width: calc(var(--t-app-width) / 100 * 50);}
.wa-25 {width: calc(var(--t-app-width) / 100 * 25);}

.wa-max-100 {max-width: var(--t-app-max-width);}
.wa-max-75 {max-width: calc(var(--t-app-max-width) / 100 * 75);}
.wa-max-50 {max-width: calc(var(--t-app-max-width) / 100 * 50);}
.wa-max-25 {max-width: calc(var(--t-app-max-width) / 100 * 25);}

.wp-100 {width: 100%!important;}
.wp-75 {width: 75%!important;}
.wp-50 {width: 50%!important;}
.wp-25 {width: 25%!important;}