.toife-gesture-indicator {
  background-color: var(--t-color-separate);
  position: absolute;
  border-radius: 3px;
  z-index: 99;

  &.bottom {
    width: 40px;
    height: 4px;
    top: 5px;
  }

  &.top {
    width: 40px;
    height: 4px;
    bottom: 5px;
  }

  &.left {
    height: 40px;
    width: 4px;
    right: 5px;
  }

  &.right {
    height: 40px;
    width: 4px;
    left: 5px;
  }
}

