.toife-divider {
  &.horizontal {
    width: 100%;
    border-bottom: 0.55px solid var(--t-color-separate);
  }

  &.vertical {
    height: 100%;
    border-right: 0.55px solid var(--t-color-separate);
  }
}

