.toife-collapse-header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.5rem 0;

  >* {
    display: flex;
    align-items: center;
  }

  i {
    font-size: 1.2rem !important;
  }

  .icon {
    justify-content: flex-end;

    i {
      font-size: 1.5rem !important;
    }
  }

  .toife-collapse-title {
    flex: 1
  }

  >*:first-child:not(.toife-collapse-title) {
    margin-right: 0.25rem;
  }
}

.toife-collapse {
  .toife-collapse-content {
    height: var(--height);
    transition: height .2s ease;
    overflow: auto;
  }

  &:not(.open) .toife-collapse-content {
    height: 0px !important;
  }
}

