.toife-ripple {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: var(--color);
  animation: t-ripple 2s ease-out infinite;
  z-index: -1;
}

@keyframes t-ripple {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

