<present ref="present" :duration="props.duration" :bounce="props.bounce" :class="props.class"
  :placement="props.placement" :backdrop="backdrop" :visible="props.visible" :keepalive="props.keepalive"
  @dismiss="close" :style="props.style">
  <gesture-indicator :placement="props.placement"
    v-if="props.gesture && props.indicator && props.placement != 'center'"></gesture-indicator>
  <div ref="sheet" :class="{ 'toife-sheet': true, 'fullscreen': props.fullscreen, [props.placement]: true, rounded }"
    :style="{ '--background': props.background }">
    <slot />
  </div>
</present>

