<Present ref="present" :duration="duration" :bounce="bounce" :class="class"
  :placement="placement" :backdrop="backdrop" :visible="visible" :keepalive="keepalive"
  @dismiss="close" :style="style">
  <GestureIndicator :placement="placement"
    v-if="gesture && indicator && placement != 'center'"></GestureIndicator>
  <div ref="sheet" :class="{ 'toife-sheet': true, 'fullscreen': fullscreen, [placement]: true, rounded }"
    :style="{ '--background': background }">
    <slot />
  </div>
</Present>

