.toife-sheet {
  background: var(--background);
  position: relative;

  &.bottom,
  &.top,
  &.fullscreen {
    width: var(--toife-app-width);
    max-width: var(--toife-app-max-width);
  }

  &.left,
  &.right,
  &.fullscreen {
    height: var(--toife-app-height);
    max-height: var(--toife-app-max-height);
  }

  &:not(.fullscreen) {
    &.rounded {
      &.bottom {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      &.top {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      &.left {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      &.right {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }

      &.center {
        border-radius: 15px;
      }

      overflow: hidden;
    }

    &.top {
      max-height: calc(var(--toife-app-max-height) - var(--toife-safe-area-bottom));
      max-width: var(--toife-app-max-width);
    }

    &.bottom {
      max-height: calc(var(--toife-app-max-height) - var(--toife-safe-area-top));
      max-width: var(--toife-app-max-width);
    }

    &.left {
      max-width: calc(var(--toife-app-max-width) - var(--toife-safe-area-right));
      max-height: var(--toife-app-max-height);
    }

    &.right {
      max-width: calc(var(--toife-app-max-width) - var(--toife-safe-area-left));
      max-height: var(--toife-app-max-height);
    }
  }
}

