// Avatar default is circle
// With props square then is square
.toife-avatar {
  position: relative;
  border-radius: 50%;
  height: var(--size);
  width: var(--size);
  overflow: hidden;

  >* {
    width: 100%;
    height: 100%;
  }

  &.square {
    border-radius: 8px;
  }
}

