.toife-icon-spinner {
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: var(var(--toife-color-text));
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

