.toife-present-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: background-color var(--t-present-transition, 0.2s) ease;
  background-color: rgba(var(--t-color-backdrop-rgb), var(--t-present-backdrop-opacity, 0));
}

.toife-present {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: fit-content;
  height: fit-content;
  transition: transform var(--t-present-transition, 0.2s) ease;

  &.bottom {
    bottom: 0;
    left: 0;
    transform: translateY(var(--t-present-content-transform, 100%));
  }

  &.top {
    top: 0;
    left: 0;
    transform: translateY(var(--t-present-content-transform, -100%));
  }

  &.right {
    top: 0;
    right: 0;
    transform: translateX(var(--t-present-content-transform, 100%));
  }

  &.left {
    top: 0;
    left: 0;
    transform: translateX(var(--t-present-content-transform, -100%));
  }

  &.center {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: var(--t-present-content-opacity, 1);
    transition: opacity var(--t-present-transition, 0.2s) ease;
  }
}

